@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
html {
    /*font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;*/
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: #202020;
    color: rgb(215, 211, 216)
}

.folderdiv {
    color: rgb(255, 255, 255);
}

.file {
    list-style-type: none;
}

a {
    color : rgb(255, 0, 100);
}
a:hover{
    color : rgb(94, 0, 122);
}

/* Scheda Generica */

.HomeButton button {
    border-radius: 50%;
    padding: 2%;
    border-color: transparent;
    background-color: rgb(255, 0, 100);
    color: #202020;
}

.HomeButton a {
    color: black;
}

.SchedaGenerica {
    width: 75%;
    margin: auto;
    text-align: justify;
    margin-bottom: 15%;
}

.SchedaGenerica table {
    background-color: #4e4e4e;
    border: none;
}
.SchedaGenerica th, td {
    padding: .5%;
    padding-left: 1%;
    padding-right: 1%;
}

.SchedaGenerica a {
    font-weight: bold;
    text-decoration: none;
}
.SchedaGenerica a:hover {
    font-weight: bold;
    text-decoration: none;
}

.SchedaGenerica tr:nth-child(even) {
    background-color: #706767;
    color: rgb(141, 17, 67);
}

.SchedaGenerica thead tr:first-child {
    background-color: #686868;
    color: rgb(61, 0, 24);
    font-weight: 100;
}